@font-face {
  font-family: MikroPixelFont;
  src: url('../fonts/5mikropix.woff2') format('woff2');
}

/* --- NAV --- */

.navbar {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: -0.3rem;
}

.navbar-brand img.logo {
  display: none;
  width: 40px;
  height: auto;
  margin-right: 1.5rem;
  position: relative;
  top: -0.3rem;
  transform: rotate(-45deg);
}

.nav-link {
  text-align: right;
}

/* --- MAIN --- */

main {
  padding: 2rem 0;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.hero img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5  {
  font-family: MikroPixelFont, monospace;
  text-transform: uppercase;
}

h2.section {
  border-bottom: 6px solid #9b50d8;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
}

.card.dark-bg {
  background-color: #131313;
}

.card-img {
  padding: 1.25rem;
  margin-top: 0.25rem;
  max-width: 260px;
}

.card-title span {
  color: #fe7;
}

.hashtags {
  color: #666;
  font-style: italic;
}

.badge {
  font-style: normal;
}

.badge-featured {
  background-color: #e82dd3;
  color: #fff;
}

p a, p a:hover {
  color: #f39c12;
}

/* --- NEWS ARCHIVE --- */

#archive-toggle {
  border-bottom: 3px dashed #666;
  color: #666;
  cursor: pointer;
  padding-bottom: 0.25rem;
}

#archive-toggle:hover {
  border-bottom-color: #888;
  color: #888;
}


#archive-content {
  display: none;
  font-size: 1rem;
}

#archive-content h3 {
  font-size: 1.3rem;
}

#archive-content .card.dark-bg {
  background-color: #1d1d1d
}

#archive-content p {
  margin-bottom: 0.45rem;
}

/* --- FOOTER --- */

footer {
  background-color: #2a2a2a;
  padding: 0.5rem 0;
}

footer .icons a {
  color: #555;
  width: 2rem;
  height: 2rem;
  margin: 0 .75rem;
}

footer .icons a:hover {
  color: #fff;
}

/* --- RESPONSIVE ---*/

@media (min-width: 768px) {
  .card-img {
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-brand img.logo {
    display: inline-block;
  }
}

/* --- FONTELLO ---*/

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  font-variant: normal;
  line-height: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplay:before { content: '\e800'; }
.icon-twitter:before { content: '\f099'; }
.icon-email:before { content: '\f0e0'; }
.icon-facebook:before { content: '\f230'; }
.icon-gitlab:before { content: '\f296'; }
.icon-linkedin:before { content: '\f30c'; }